<div class="row justify-content-between align-items-center">
  <my-menu-card class="col-6" title='Bon de Commande' subtitle='' [routerLink]="['/achat/order-form']"
                icon="fa fa-shopping-cart"
                underlineColor="bg-secondary">
  </my-menu-card>
  <my-menu-card class="col-6" title='Bon de livraison' subtitle='' [routerLink]="['/achat/delivery-note']"
                icon="cil-notes"
                underlineColor="bg-warning">
  </my-menu-card>
  <my-menu-card class="col-6" title='Facture' subtitle='' [routerLink]="['/achat/billing']"
                icon="cil-cash"
                underlineColor="bg-danger">
  </my-menu-card>
  <my-menu-card class="col-6" title='Banques' subtitle='' [routerLink]="['/achat/bank']"
                icon="cil-credit-card"
                underlineColor="bg-secondary">
  </my-menu-card>
  <my-menu-card class="col-6" title='Réglement' subtitle='' [routerLink]="['/achat/settlement']"
                icon="cil-money"
                underlineColor="bg-warning">
  </my-menu-card>
</div>
